Requirements 
	- cv2 module
	- numpy module
	- paho-mqtt module
	- ultralytics module
RUN define.py and select the spots
	- Make sure you have a reference.jpg image from the camera
CONFIGURE the main.py
	- RTSP camera
	- FRAME interval
	- MQTT BROKER